@use "../abstracts/" as *;
/*=============== REUSEABLE CLASSES ===============*/
.container {
   padding: 0 15px;
   margin-inline: auto;
}
.main {
   padding-top: calc(var(--header-height) + 2rem);
   padding-bottom: 2.5rem;
   background-image: url("../imgs/body-bg.png");
   background-position: center top;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
.search-result {
   background-color: #ffff00;
   padding-block: 0.2rem;
}
.btns-space {
   @include flex(center, center);
   width: 100%;
   height: 80px;
}
/* Sweet alert library */
.red-bg {
   background-color: red;
   .swal-text {
      color: #fff;
   }
}
.swal-text {
   color: #000;
}
.swal-footer {
   display: flex;
   align-items: center;
   justify-content: center;
}

/*=============== BREAKPOINTS ===============*/
/* EXTRA SMALL */
// @media (max-width: 576px) {

// }
/* SMALL */
@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}
/* MEDIUM */
@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}
/* LARGE */
@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}
