@use "../abstracts" as *;

/*===================== HOMEPAGE PAGE =====================*/
.homepage-student,
.homepage-coordonator,
.homepage-admin {
   min-height: 100vh;
}
.homepage-student {
   min-height: 100vh;
   .container {
      padding-top: 2rem;
      @include flex(center, flex-start, 7rem);
      .content {
         .title {
            color: $title-color;
            font-size: var(--h2-font-size);
            margin-bottom: 2rem;
         }
         .steps {
            .step {
               margin-bottom: 1.5rem;
               line-height: 1.5;
               font-size: var(--h3-font-size);
               @include flex(center, flex-start, 0.5rem);
               .link {
                  white-space: nowrap;
                  text-decoration: underline;
                  font-weight: bold;
               }
               .icon {
                  width: 30px;
                  height: 25px;
               }
            }
            .student-status {
               @include flex(center, center);
               .status {
                  border: 1px solid #000;
                  padding: 0.5rem 1rem;
                  border-radius: 0.5rem;
                  color: #fff;
                  font-weight: bold;
                  letter-spacing: 1px;
                  &.pending {
                     background-color: #007bff;
                  }
                  &.accepted {
                     background-color: #28a745;
                  }
                  &.rejected {
                     background-color: #fc4855;
                  }
               }
            }
         }
      }
   }
}
.homepage-coordonator {
   .container {
      .content {
         padding-top: 3rem;
         .title {
            @include flex(center, flex-start, 1rem);
            font-size: var(--h2-font-size);
            font-weight: bold;
            margin-bottom: 1rem;
         }
         .table {
            th:first-of-type,
            td:first-of-type {
               width: 10px;
               text-align: center;
            }
            th:last-of-type {
               width: 200px;
            }
            .btn {
               font-size: 1rem;
               padding: 0.5rem 1rem;
            }
         }
      }
   }
}
.homepage-admin {
   .container {
      .content {
         @include flex(center, space-between, 0.5rem);
         flex-wrap: wrap;
         .box:first-of-type {
            width: 48%;
         }
         .university-logo {
            width: 48%;
         }
         .box:last-of-type {
            width: 100%;
         }
         .title {
            font-size: var(--h2-font-size);
            font-weight: normal;
            margin-bottom: 1rem;
         }
         .table {
            th:first-of-type {
               width: 10px;
            }
            td {
               text-align: center;
            }
            .btn {
               font-size: 1rem;
               padding: 0.5rem 1rem;
            }
         }
      }
   }
}
/*=============== BREAKPOINTS ===============*/
/* MEDIUM */
@media (max-width: 992px) {
   .homepage-student .container {
      flex-direction: column-reverse;
      justify-content: flex-end;
      gap: 2rem;
   }
   .homepage-admin .container .content .search {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.7rem;
   }
   .homepage-admin .container .content .filter {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.7rem;
   }
}
/* SMALL */
@media (max-width: 768px) {
   .homepage-admin .container .content {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
   }
   .homepage-admin .container .content .university-logo {
      order: -1;
      align-self: center;
      width: auto;
      margin-bottom: 2rem;
   }
   .homepage-admin .container .content .box:first-of-type {
      width: 100%;
   }
}
