@use "../abstracts" as *;

/*===================== LIST OF TIPICS PAGE =====================*/
.main.list-of-topics-page {
   background-image: none;
}
.list-of-topics-page {
   background-color: $body-color;
   .container {
      .content {
         margin-bottom: 2rem;
         display: grid;
         .add-btn {
            justify-self: flex-end;
            margin-bottom: 0.8rem;
         }
         .title {
            font-weight: normal;
            font-size: var(--h2-font-size);
            margin-bottom: 1rem;
         }
         .table {
            th:first-of-type,
            td:first-of-type {
               width: 10px;
               text-align: center;
            }
         }
      }
      .save-btn-animation {
         animation: wiggle 1.5s linear infinite;
      }
   }
}

/* Animation For Save Btn */
@keyframes wiggle {
   0%,
   7% {
      transform: rotateZ(0);
   }
   15% {
      transform: rotateZ(-15deg);
   }
   20% {
      transform: rotateZ(10deg);
   }
   25% {
      transform: rotateZ(-10deg);
   }
   30% {
      transform: rotateZ(6deg);
   }
   35% {
      transform: rotateZ(-4deg);
   }
   40%,
   100% {
      transform: rotateZ(0);
   }
}
