@use "../abstracts" as *;

/*===================== STUDENTS PAGE =====================*/
.students-page-coordonator {
   min-height: 100vh;
   @include flex(center, center);
   .container {
      @include flex(center, space-between, 2rem);
      .content {
         width: 70%;
         .title {
            @include flex(center, flex-start, 1rem);
            font-size: var(--h2-font-size);
            font-weight: bold;
            margin-bottom: 1rem;
         }
         .table {
            th:first-of-type,
            td:first-of-type {
               width: 10px;
               text-align: center;
            }
            .btn {
               font-size: 1rem;
               padding: 0.5rem 1rem;
            }
         }
      }
   }
}
.students-page-admin {
   min-height: 100vh;
   .container {
      .content {
         @include flex(flex-start, space-between, 2rem);
         flex-wrap: wrap;
         .box {
            width: 100%;
            .title {
               @include flex(center, flex-start, 1rem);
               font-size: var(--h2-font-size);
               margin-bottom: 1rem;
            }
            .table {
               min-width: 400px;
               td {
                  text-align: center;
               }
            }
         }
      }
   }
}
/*=============== BREAKPOINTS ===============*/
/* MEDIUM */
@media (max-width: 992px) {
   .students-page-coordonator .container {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 0;
   }
   .students-page-coordonator .container .content {
      margin-top: 2rem;
      width: 100%;
   }
}
// Added This Because container take auto width and that occure problem with flex
@media (max-width: 768px) {
   .students-page-coordonator .container {
      width: 100%;
   }
}
